#flex-container-1 {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    background-color: #ab6262;
  }
  
  #flex-container-1 div {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  #info-title {
    color:black;
  }

  #info {
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 1.2;
    color: #ffffff;
  }

  #first-pic img {
    width: 100%; 
    height: auto; 
}

#flex-container-2 {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #ab6262;
  }
  
  #flex-container-2 div {
    width: 100%;
    height: auto;
  }

  #servings-title {
    color: black;
  }

  #servings {
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 1.2;
    color: #ffffff;
  }

  #second-pic img {
    width: 100%; 
    height: auto; 
}
  
