@media (max-width: 600px){
    body{
        width: 100%;
    }
    #container{
        width: 100%;
    }
    header{
        width: 100%;
    }
    footer{
        width:100%;
    } 
    #flex-container-1{
        flex-direction: column;
        height: auto;
        max-height: none;
        width: 100%;
    }
    #flex-container-2{
        flex-direction: column;
        height: auto;
        max-height: none;
        width: 100%;
    }
    #flex-container-3{
        flex-direction: column;
        max-height: none;
        height: auto;
        width: 100%;
    }
    form{
        height: 100%;
    }
    #map{
        width: 100%;
        max-width: 100%;
        display: none;
    }
    #reservations{
        max-width: 100%;
    }
    #servings-title h2{
        font-size: 100px;
    }
    #info-title h2{
        font-size: 100px;
    }
    #svenska{
        width: 100%;
    }
    #svenska-title h2{
        font-size: 100px;
    }
    header{
        height: auto;
    }
    #name{
        text-align: center;
        margin-bottom: 20px;
    }
    #navigation{
        padding-right: 20px;
    }
    #servings p{
        margin-left: 20px;
        margin-right: 20px;
        text-align: start;
        max-width: 100%;
    
    }
    #svenska-paragraph{
        margin-left: 20px;
        margin-right: 20px;
        text-align: start;
        max-width: 100%;
    }
    #svenska-paragraph p{
        margin-top: 0px;
    }
    #svenska-title h2{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 100px;
        text-align: left;
    }
}