footer{
    background-color: #F6D496;
    height: 226px;
}
#flex-container-4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#contacts{
    width: 210px;
    text-align: left;
}
#open{
    width: 150px;
    text-align: left;
}
#flex-container-3{
    display: flex;
    width: 100%;
    
}
#reservations{
    flex: 50%;
}
form{
    display: flex;
    flex-direction: column;
}
map{
    flex: 50%;
}
